body {
    background-color: #641B2E;
    margin: 0;
}

* {
    font-family: "Fuzzy Bubbles", sans-serif;
    color: #FBDB93;
    text-align: center;
}

.title {    
    color: #FBDB93;
    background-color: #BE5B50;
    padding: 1px;
    height:
}

.heading {
    background-color: #8A2D3B;
    padding: 1px;
}

.image {
    background-color: #641B2E;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image img {
    border: 2px solid #FBDB93;
}

.link {
    background-color: #641B2E;
}

.link a {
    font-weight: bold;
    text-decoration: none;
}