body {
    background-color: whitesmoke;
}

h1 {
    color: #FBDB93;
    background-color: #BE5B50;
}

h2 {
    color: #FBDB93;
    background-color: #8A2D3B;
}

h3 {
    color: #FBDB93;
    background-color: #641B2E;
}

* {
    text-align: center;
}